input {
    height: 40px;
    width: 250px;
    font-size: large;
    padding: 10px;
    display: block;
    border: solid;
    border-radius: 8px;
    border-color: gray;
    border-width: 2px;
    margin: 10px;
}