.sidebar-grid-video {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 25px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 70vh;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    font-size: small;
    padding: 5px 0px;
    margin: 5px;
    /* transition: background-color 1s; */
}

.icon-nav:hover {
    background-color: rgb(228, 228, 228);
}